<article class="article block-relative f-limit-60 f4 font-w-5">
  <header class="article__header mb-30">
    <h4 class="article__date mb-20">Feb. 26, 2016</h4>
    <h1 class="article__title font-w-5 underline inline-relative">Made Up Terms: Bystander Dependencies</h1>
  </header>
  <p>Building pieces of UI can often become a linear task if we approach it in terms of pages and templates. Even though the discussion around definition of modules is still hot, unless those modules are truly discrete, their caveats and context are still derived directly from the page-level in our sites’ hierarchy.</p>
</article>
