<section class="page__section h34 w1 bg-c-w">
  <header class="relative w1">
    <h1 class="f4">ESTRATTONBAILEY</h1>
    <hr class="page__divider w1 bg-c-g1">
  </header>
  <div class="table w1 h1p">
    <div class="table__cell w1 align-m">
      <h3 class="c-theme font-w-4 f-limit">Eric Bailey is a front-end developer and designer living and working in New York City. He’s from Iowa and will tell you so if you meet him.</h3>
    </div>
  </div>
</section>
