<section class="page__section relative h34 w1 bg-c-w">
  <header class="relative w1">
    <h1 class="f4">ESTRATTONBAILEY</h1>
    <hr class="page__divider w1 bg-c-g1">
  </header>
  <div class="table w1 h1p">
    <div class="table__cell w1 align-m">
      <h2 class="c-theme font-w-4 f-limit">{{headline}}</h2>
    </div>
  </div>
  <div class="hero-social absolute c-g3 f4">
    <a class="anchor-underline inline-relative mr-10" href="#0">TWITTER</a>
    <a class="anchor-underline inline-relative mr-10" href="#0">GITHUB</a>
    <a class="anchor-underline inline-relative mr-10" href="#0">DRIBBLE</a>
  </div>
</section>

<section class="page__section bg-c-g2 u-clear">
  {{#each work}}
    <a href="{{link}}" class="project block float-l w12_m w13_xl pl-16 pv-5 mv-24">
      <h3 class="font-w-5 inline-relative mb-6 anchor-underline">{{title}}</h3>
      <p>{{caption}}</p>
    </a>
  {{/each}}
</section>
