---
layout: default.hbs
---
<section class="container--s mha">
  <div class="content pt6 pb2 ph2">
    <main class="lede">
      <h2 class="highlighter">{{markdown content}}</h2>
    </main>
  </div>

  <div class="projects pv2 ph2">
    <div class="clear mhn2">
      {{#each project}}
        <div class="col-12 col-6_m float-l ph2">
          <a href="{{url}}" class="project block relative pb2">
            <h4 class="type--reset underline--large inline-block relative">{{title}}</h4>
            <p>{{caption}}</p>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
