---
layout: default.hbs
---
<section class="page__section">
  <div class="breadcrumbs">
    <h4 class="c-g2">
      <a href="/" class="c-b font-w-5 underline inline-relative">Home</a>
      <span class="c-g3 font-w-9 mh-6">/</span>
      <span href="./writing" class="font-w-5">Writing</span>
    </h4>
  </div>
</section>

<section class="page__section">
  {{#each posts}}
    {{> post}}
  {{/each}}
</section>

<footer class="block-relative h14 bg-c-theme"></footer>
