---
layout: default.hbs
---
<section class="container--s mha">
  <div class="content pt6 pb2 ph2">
    <header class="highlighter pb2 h4 uppercase italic">
      <a href="../">home</a> 
      <span class="cg2">writing</span>
    </header>
    {{#each post}}
      <a href="{{permalink}}" class="post block relative pv4">
        <h2 class="type--reset inline-block relative underline--large">{{fields.title}}</h2>
        <p>{{fields.excerpt}}</p>
      </a>
    {{/each}}
  </div>
</section>
