// Base Styles
@import "base/normalize";
@import "base/breakpoints";
@import "base/display";
@import "base/widths";
@import "base/containers";
@import "base/clears";
@import "base/utilities";
@import "base/colors";
@import "base/align";
@import "base/floats";
@import "base/spacing";
@import "base/z-index";

// Elements
@import "elements/_init";

// Components
@import "components/_init";

// Modules
// @import "modules/hero";

@import 'vendor/solarized-light';

html, body {
}

pre {
	background-color: $cg1;
	margin: 2em 0;
	overflow: auto;
	overflow-y: hidden;
	padding: 1em 2em;
	code {
		background-color: transparent;
	}
}
code {
	@extend .p !optional;
  @extend .type-monospace !optional;
	background-color: $cg1;
	white-space: pre;
}

.lede p {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
